<!DOCTYPE html>
<html>

{{>header}}

<body>
    <div class="main-content">
        {{>navigation}}
        <h1>
            {{body}}
        </h1>

        <img class="portrait" src="/images/ai1.jpg">
    </div>

     {{>footer}}
</body>

</html>